<div>
  <div class="file-upload container-md bg-light shadow rounded-4" style="max-width: 576px; min-height: 75vh">
    <h3 class="mt-5">Загрузить файл</h3>
    <input class="form-control" style="max-width: 400px" type="file" (change)="onFileSelected($event)" />
    <button class="btn btn-success" (click)="onUpload()">Загрузить</button>
    <h3 class="mt-4">Загруженные файлы</h3>
    <ul>
      <li class="d-flex justify-content-between mt-2" *ngFor="let file of uploadedFiles">
        {{ file }}
        <div class="ms-2">
        <button class="btn btn-success me-2" (click)="onDownload(file)">Скачать</button>
        <button class="btn btn-success" (click)="onDownloadABP(file)">Скачать АВР</button>
        </div>
      </li>
    </ul>
  </div>
</div>

<app-modal-dialog (submitData)="handleModalSubmit($event)"></app-modal-dialog>

